<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name="com.example.wisewallet.WiseWalletApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallet_Wise"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.example.wisewallet.PremiumUpgradeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.wisewallet.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.wisewallet.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.wisewallet.AddBudgetActivity"
            android:exported="false" /> <!-- Activities -->
        <activity
            android:name="com.example.wisewallet.GoalsInsightsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.wisewallet.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wisewallet.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.wisewallet.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.wisewallet.ActivityBudget"
            android:exported="true" />
        <activity
            android:name="com.example.wisewallet.ActivityTransactionList"
            android:exported="true" />
        <activity
            android:name="com.example.wisewallet.ActivityAddTransaction"
            android:exported="true" />
        <activity
            android:name="com.example.wisewallet.ActivityIncome"
            android:exported="true" />
        <activity
            android:name="com.example.wisewallet.TabbedTransactionActivity"
            android:exported="true" />
        <activity
            android:name="com.example.wisewallet.CurrencyConverterActivity"
            android:exported="true" /> <!-- SMS Receiver -->

        <receiver
            android:name="com.example.wisewallet.MpesaSmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.wisewallet.NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
    </application>

</manifest>